.commentParent {
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content: center;
}

.likeRoot {
    margin-left: auto;
    width: 30px;
}

.commentTextRoot {
    width: 100% - 80px;
}

.favoriteIconButton {
    width: 32px;
    height: 32px;
}