.card {
    margin-top: 12px;
    max-width: 500px;
}

.media {
    height: 500px;
}

.commentInput {
    width: 100%;
}

.moreComments {
    color: rgba(0, 0, 0, 0.42);
}

.moreComments:active {
    color: rgba(0, 0, 0, 0.28);
}

.expandDescription {
    padding-left: 4px;
    color: rgba(0, 0, 0, 0.42);
}

.expandDescription:active {
    padding-left: 4px;
    color: rgba(0, 0, 0, 0.28);
}